@font-face {
  font-family: 'olotuicons';
  src:  url('fonts/olotuicons.eot?jvfck9');
  src:  url('fonts/olotuicons.eot?jvfck9#iefix') format('embedded-opentype'),
    url('fonts/olotuicons.ttf?jvfck9') format('truetype'),
    url('fonts/olotuicons.woff?jvfck9') format('woff'),
    url('fonts/olotuicons.svg?jvfck9#olotuicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'olotuicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.olotu-afr-map:before {
  content: "\e900";
}
.olotu-aip:before {
  content: "\e901";
}
.olotu-apc:before {
  content: "\e902";
}
.olotu-bet9ja:before {
  content: "\e903";
}
.olotu-coa:before {
  content: "\e904";
}
.olotu-diete-spiff:before {
  content: "\e905";
}
.olotu-hp:before {
  content: "\e906";
}
.olotu-keke:before {
  content: "\e907";
}
.olotu-ken-saro-wiwa:before {
  content: "\e908";
}
.olotu-kia:before {
  content: "\e909";
}
.olotu-king-jaja:before {
  content: "\e90a";
}
.olotu-naira-bet:before {
  content: "\e90b";
}
.olotu-naira-logo:before {
  content: "\e90c";
}
.olotu-naira-note:before {
  content: "\e90d";
}
.olotu-ng-map:before {
  content: "\e90e";
}
.olotu-palm-tree:before {
  content: "\e90f";
}
.olotu-palm-wine:before {
  content: "\e910";
}
.olotu-pdp:before {
  content: "\e911";
}
.olotu-pia:before {
  content: "\e912";
}
.olotu-rs-map:before {
  content: "\e913";
}
.olotu-zuma-rock:before {
  content: "\e915";
}
.olotu-home:before {
  content: "\e914";
}
.olotu-office:before {
  content: "\e92a";
}
.olotu-newspaper:before {
  content: "\e92b";
}
.olotu-pencil:before {
  content: "\e92c";
}
.olotu-pencil2:before {
  content: "\e92d";
}
.olotu-quill:before {
  content: "\e92e";
}
.olotu-pen:before {
  content: "\e92f";
}
.olotu-blog:before {
  content: "\e930";
}
.olotu-eyedropper:before {
  content: "\e931";
}
.olotu-droplet:before {
  content: "\e932";
}
.olotu-paint-format:before {
  content: "\e933";
}
.olotu-image:before {
  content: "\e934";
}
.olotu-images:before {
  content: "\e935";
}
.olotu-camera:before {
  content: "\e936";
}
.olotu-headphones:before {
  content: "\e937";
}
.olotu-music:before {
  content: "\e938";
}
.olotu-play:before {
  content: "\e939";
}
.olotu-film:before {
  content: "\e93a";
}
.olotu-video-camera:before {
  content: "\e93b";
}
.olotu-dice:before {
  content: "\e93c";
}
.olotu-pacman:before {
  content: "\e93d";
}
.olotu-spades:before {
  content: "\e93e";
}
.olotu-clubs:before {
  content: "\e93f";
}
.olotu-diamonds:before {
  content: "\e940";
}
.olotu-bullhorn:before {
  content: "\e941";
}
.olotu-connection:before {
  content: "\e942";
}
.olotu-podcast:before {
  content: "\e943";
}
.olotu-feed:before {
  content: "\e944";
}
.olotu-mic:before {
  content: "\e945";
}
.olotu-book:before {
  content: "\e946";
}
.olotu-books:before {
  content: "\e947";
}
.olotu-library:before {
  content: "\e948";
}
.olotu-file-text:before {
  content: "\e949";
}
.olotu-profile:before {
  content: "\e94a";
}
.olotu-file-empty:before {
  content: "\e94b";
}
.olotu-files-empty:before {
  content: "\e94c";
}
.olotu-file-text2:before {
  content: "\e94d";
}
.olotu-file-picture:before {
  content: "\e94e";
}
.olotu-file-music:before {
  content: "\e94f";
}
.olotu-file-play:before {
  content: "\e950";
}
.olotu-file-video:before {
  content: "\e951";
}
.olotu-file-zip:before {
  content: "\e952";
}
.olotu-copy:before {
  content: "\e953";
}
.olotu-paste:before {
  content: "\e954";
}
.olotu-stack:before {
  content: "\e955";
}
.olotu-folder:before {
  content: "\e956";
}
.olotu-folder-open:before {
  content: "\e957";
}
.olotu-folder-plus:before {
  content: "\e958";
}
.olotu-folder-minus:before {
  content: "\e959";
}
.olotu-folder-download:before {
  content: "\e95a";
}
.olotu-folder-upload:before {
  content: "\e95b";
}
.olotu-price-tag:before {
  content: "\e95c";
}
.olotu-price-tags:before {
  content: "\e95d";
}
.olotu-barcode:before {
  content: "\e95e";
}
.olotu-qrcode:before {
  content: "\e95f";
}
.olotu-ticket:before {
  content: "\e960";
}
.olotu-cart:before {
  content: "\e961";
}
.olotu-coin-dollar:before {
  content: "\e962";
}
.olotu-coin-euro:before {
  content: "\e963";
}
.olotu-coin-pound:before {
  content: "\e964";
}
.olotu-coin-yen:before {
  content: "\e965";
}
.olotu-credit-card:before {
  content: "\e966";
}
.olotu-calculator:before {
  content: "\e967";
}
.olotu-lifebuoy:before {
  content: "\e968";
}
.olotu-phone:before {
  content: "\e969";
}
.olotu-phone-hang-up:before {
  content: "\e96a";
}
.olotu-address-book:before {
  content: "\e96b";
}
.olotu-envelop:before {
  content: "\e96c";
}
.olotu-pushpin:before {
  content: "\e96d";
}
.olotu-location:before {
  content: "\e96e";
}
.olotu-location2:before {
  content: "\e96f";
}
.olotu-compass:before {
  content: "\e970";
}
.olotu-compass2:before {
  content: "\e971";
}
.olotu-map:before {
  content: "\e972";
}
.olotu-map2:before {
  content: "\e973";
}
.olotu-alarm:before {
  content: "\e977";
}
.olotu-bell:before {
  content: "\e978";
}
.olotu-stopwatch:before {
  content: "\e979";
}
.olotu-calendar:before {
  content: "\e97a";
}
.olotu-printer:before {
  content: "\e97b";
}
.olotu-keyboard:before {
  content: "\e97c";
}
.olotu-display:before {
  content: "\e97d";
}
.olotu-laptop:before {
  content: "\e97e";
}
.olotu-mobile:before {
  content: "\e97f";
}
.olotu-mobile2:before {
  content: "\e980";
}
.olotu-tablet:before {
  content: "\e981";
}
.olotu-tv:before {
  content: "\e982";
}
.olotu-drawer:before {
  content: "\e983";
}
.olotu-drawer2:before {
  content: "\e984";
}
.olotu-box-add:before {
  content: "\e985";
}
.olotu-box-remove:before {
  content: "\e986";
}
.olotu-download:before {
  content: "\e987";
}
.olotu-upload:before {
  content: "\e988";
}
.olotu-floppy-disk:before {
  content: "\e989";
}
.olotu-drive:before {
  content: "\e98a";
}
.olotu-database:before {
  content: "\e98b";
}
.olotu-bubble:before {
  content: "\e992";
}
.olotu-bubbles:before {
  content: "\e993";
}
.olotu-bubbles2:before {
  content: "\e994";
}
.olotu-bubble2:before {
  content: "\e995";
}
.olotu-bubbles3:before {
  content: "\e996";
}
.olotu-bubbles4:before {
  content: "\e997";
}
.olotu-user:before {
  content: "\e998";
}
.olotu-users:before {
  content: "\e999";
}
.olotu-user-plus:before {
  content: "\e99a";
}
.olotu-user-minus:before {
  content: "\e99b";
}
.olotu-user-check:before {
  content: "\e99c";
}
.olotu-user-tie:before {
  content: "\e99d";
}
.olotu-hour-glass:before {
  content: "\e9a0";
}
.olotu-spinner:before {
  content: "\e9a1";
}
.olotu-spinner4:before {
  content: "\e9a4";
}
.olotu-spinner5:before {
  content: "\e9a5";
}
.olotu-binoculars:before {
  content: "\e9ac";
}
.olotu-search:before {
  content: "\e9ad";
}
.olotu-zoom-in:before {
  content: "\e9ae";
}
.olotu-zoom-out:before {
  content: "\e9af";
}
.olotu-enlarge:before {
  content: "\e9b0";
}
.olotu-shrink:before {
  content: "\e9b1";
}
.olotu-key:before {
  content: "\e9b4";
}
.olotu-key2:before {
  content: "\e9b5";
}
.olotu-lock:before {
  content: "\e9b6";
}
.olotu-unlocked:before {
  content: "\e9b7";
}
.olotu-wrench:before {
  content: "\e9b8";
}
.olotu-equalizer:before {
  content: "\e9b9";
}
.olotu-equalizer2:before {
  content: "\e9ba";
}
.olotu-cog:before {
  content: "\e9bb";
}
.olotu-cogs:before {
  content: "\e9bc";
}
.olotu-hammer:before {
  content: "\e9bd";
}
.olotu-magic-wand:before {
  content: "\e9be";
}
.olotu-aid-kit:before {
  content: "\e9bf";
}
.olotu-bug:before {
  content: "\e9c0";
}
.olotu-pie-chart:before {
  content: "\e9c1";
}
.olotu-stats-dots:before {
  content: "\e9c2";
}
.olotu-stats-bars:before {
  content: "\e9c3";
}
.olotu-stats-bars2:before {
  content: "\e9c4";
}
.olotu-trophy:before {
  content: "\e9c5";
}
.olotu-gift:before {
  content: "\e9c6";
}
.olotu-glass:before {
  content: "\e9c7";
}
.olotu-glass2:before {
  content: "\e9c8";
}
.olotu-mug:before {
  content: "\e9c9";
}
.olotu-spoon-knife:before {
  content: "\e9ca";
}
.olotu-leaf:before {
  content: "\e9cb";
}
.olotu-rocket:before {
  content: "\e9cc";
}
.olotu-meter:before {
  content: "\e9cd";
}
.olotu-meter2:before {
  content: "\e9ce";
}
.olotu-hammer2:before {
  content: "\e9cf";
}
.olotu-fire:before {
  content: "\e9d0";
}
.olotu-lab:before {
  content: "\e9d1";
}
.olotu-magnet:before {
  content: "\e9d2";
}
.olotu-bin:before {
  content: "\e9d3";
}
.olotu-bin2:before {
  content: "\e9d4";
}
.olotu-briefcase:before {
  content: "\e9d5";
}
.olotu-airplane:before {
  content: "\e9d6";
}
.olotu-truck:before {
  content: "\e9d7";
}
.olotu-road:before {
  content: "\e9d8";
}
.olotu-accessibility:before {
  content: "\e9d9";
}
.olotu-target:before {
  content: "\e9da";
}
.olotu-shield:before {
  content: "\e9db";
}
.olotu-power:before {
  content: "\e9dc";
}
.olotu-switch:before {
  content: "\e9dd";
}
.olotu-power-cord:before {
  content: "\e9de";
}
.olotu-clipboard:before {
  content: "\e9df";
}
.olotu-list-numbered:before {
  content: "\e9e0";
}
.olotu-list:before {
  content: "\e9e1";
}
.olotu-list2:before {
  content: "\e9e2";
}
.olotu-tree:before {
  content: "\e9e3";
}
.olotu-menu:before {
  content: "\e9e4";
}
.olotu-menu2:before {
  content: "\e9e5";
}
.olotu-menu3:before {
  content: "\e9e6";
}
.olotu-menu4:before {
  content: "\e9e7";
}
.olotu-cloud:before {
  content: "\e9e8";
}
.olotu-cloud-download:before {
  content: "\e9e9";
}
.olotu-cloud-upload:before {
  content: "\e9ea";
}
.olotu-cloud-check:before {
  content: "\e9eb";
}
.olotu-download2:before {
  content: "\e9ec";
}
.olotu-upload2:before {
  content: "\e9ed";
}
.olotu-download3:before {
  content: "\e9ee";
}
.olotu-upload3:before {
  content: "\e9ef";
}
.olotu-sphere:before {
  content: "\e9f0";
}
.olotu-earth:before {
  content: "\e9f1";
}
.olotu-link:before {
  content: "\e9f2";
}
.olotu-flag:before {
  content: "\e9f3";
}
.olotu-attachment:before {
  content: "\e9f4";
}
.olotu-eye:before {
  content: "\e9f5";
}
.olotu-eye-plus:before {
  content: "\e9f6";
}
.olotu-eye-minus:before {
  content: "\e9f7";
}
.olotu-eye-blocked:before {
  content: "\e9f8";
}
.olotu-bookmark:before {
  content: "\e9f9";
}
.olotu-bookmarks:before {
  content: "\e9fa";
}
.olotu-sun:before {
  content: "\e9fb";
}
.olotu-contrast:before {
  content: "\e9fc";
}
.olotu-brightness-contrast:before {
  content: "\e9fd";
}
.olotu-star-empty:before {
  content: "\e9fe";
}
.olotu-star-half:before {
  content: "\e9ff";
}
.olotu-star-full:before {
  content: "\ea00";
}
.olotu-heart:before {
  content: "\ea01";
}
.olotu-heart-broken:before {
  content: "\ea02";
}
.olotu-man:before {
  content: "\ea03";
}
.olotu-woman:before {
  content: "\ea04";
}
.olotu-man-woman:before {
  content: "\ea05";
}
.olotu-happy:before {
  content: "\ea06";
}
.olotu-happy2:before {
  content: "\ea07";
}
.olotu-smile:before {
  content: "\ea08";
}
.olotu-smile2:before {
  content: "\ea09";
}
.olotu-tongue:before {
  content: "\ea0a";
}
.olotu-tongue2:before {
  content: "\ea0b";
}
.olotu-sad:before {
  content: "\ea0c";
}
.olotu-sad2:before {
  content: "\ea0d";
}
.olotu-wink:before {
  content: "\ea0e";
}
.olotu-wink2:before {
  content: "\ea0f";
}
.olotu-grin:before {
  content: "\ea10";
}
.olotu-grin2:before {
  content: "\ea11";
}
.olotu-cool:before {
  content: "\ea12";
}
.olotu-cool2:before {
  content: "\ea13";
}
.olotu-angry:before {
  content: "\ea14";
}
.olotu-angry2:before {
  content: "\ea15";
}
.olotu-evil:before {
  content: "\ea16";
}
.olotu-evil2:before {
  content: "\ea17";
}
.olotu-shocked:before {
  content: "\ea18";
}
.olotu-shocked2:before {
  content: "\ea19";
}
.olotu-baffled:before {
  content: "\ea1a";
}
.olotu-baffled2:before {
  content: "\ea1b";
}
.olotu-confused:before {
  content: "\ea1c";
}
.olotu-confused2:before {
  content: "\ea1d";
}
.olotu-neutral:before {
  content: "\ea1e";
}
.olotu-neutral2:before {
  content: "\ea1f";
}
.olotu-hipster:before {
  content: "\ea20";
}
.olotu-hipster2:before {
  content: "\ea21";
}
.olotu-wondering:before {
  content: "\ea22";
}
.olotu-wondering2:before {
  content: "\ea23";
}
.olotu-sleepy:before {
  content: "\ea24";
}
.olotu-sleepy2:before {
  content: "\ea25";
}
.olotu-frustrated:before {
  content: "\ea26";
}
.olotu-frustrated2:before {
  content: "\ea27";
}
.olotu-crying:before {
  content: "\ea28";
}
.olotu-crying2:before {
  content: "\ea29";
}
.olotu-point-up:before {
  content: "\ea2a";
}
.olotu-point-right:before {
  content: "\ea2b";
}
.olotu-point-down:before {
  content: "\ea2c";
}
.olotu-point-left:before {
  content: "\ea2d";
}
.olotu-warning:before {
  content: "\ea2e";
}
.olotu-notification:before {
  content: "\ea2f";
}
.olotu-cancel-circle:before {
  content: "\ea34";
}
.olotu-cross:before {
  content: "\ea36";
}
.olotu-checkmark:before {
  content: "\ea37";
}
.olotu-checkmark2:before {
  content: "\ea38";
}
.olotu-spell-check:before {
  content: "\ea39";
}
.olotu-enter:before {
  content: "\ea3a";
}
.olotu-exit:before {
  content: "\ea3b";
}
.olotu-play2:before {
  content: "\ea3c";
}
.olotu-pause:before {
  content: "\ea3d";
}
.olotu-stop:before {
  content: "\ea3e";
}
.olotu-previous:before {
  content: "\ea3f";
}
.olotu-next:before {
  content: "\ea40";
}
.olotu-backward:before {
  content: "\ea41";
}
.olotu-forward2:before {
  content: "\ea42";
}
.olotu-play3:before {
  content: "\ea43";
}
.olotu-pause2:before {
  content: "\ea44";
}
.olotu-stop2:before {
  content: "\ea45";
}
.olotu-backward2:before {
  content: "\ea46";
}
.olotu-forward3:before {
  content: "\ea47";
}
.olotu-first:before {
  content: "\ea48";
}
.olotu-last:before {
  content: "\ea49";
}
.olotu-previous2:before {
  content: "\ea4a";
}
.olotu-next2:before {
  content: "\ea4b";
}
.olotu-eject:before {
  content: "\ea4c";
}
.olotu-volume-high:before {
  content: "\ea4d";
}
.olotu-volume-medium:before {
  content: "\ea4e";
}
.olotu-volume-low:before {
  content: "\ea4f";
}
.olotu-volume-mute:before {
  content: "\ea50";
}
.olotu-volume-mute2:before {
  content: "\ea51";
}
.olotu-volume-increase:before {
  content: "\ea52";
}
.olotu-volume-decrease:before {
  content: "\ea53";
}
.olotu-arrow-up-left:before {
  content: "\ea58";
}
.olotu-arrow-up:before {
  content: "\ea59";
}
.olotu-arrow-up-right:before {
  content: "\ea5a";
}
.olotu-arrow-right:before {
  content: "\ea5b";
}
.olotu-arrow-down-right:before {
  content: "\ea5c";
}
.olotu-arrow-down:before {
  content: "\ea5d";
}
.olotu-arrow-down-left:before {
  content: "\ea5e";
}
.olotu-arrow-left:before {
  content: "\ea5f";
}
.olotu-circle-up:before {
  content: "\ea68";
}
.olotu-circle-right:before {
  content: "\ea69";
}
.olotu-circle-down:before {
  content: "\ea6a";
}
.olotu-circle-left:before {
  content: "\ea6b";
}
.olotu-checkbox-checked:before {
  content: "\ea6c";
}
.olotu-checkbox-unchecked:before {
  content: "\ea6d";
}
.olotu-radio-checked:before {
  content: "\ea6e";
}
.olotu-radio-checked2:before {
  content: "\ea6f";
}
.olotu-radio-unchecked:before {
  content: "\ea70";
}
.olotu-crop:before {
  content: "\ea71";
}
.olotu-make-group:before {
  content: "\ea72";
}
.olotu-ungroup:before {
  content: "\ea73";
}
.olotu-scissors:before {
  content: "\ea74";
}
.olotu-filter:before {
  content: "\ea75";
}
.olotu-embed:before {
  content: "\ea7f";
}
.olotu-embed2:before {
  content: "\ea80";
}
.olotu-terminal:before {
  content: "\ea81";
}
.olotu-share2:before {
  content: "\ea82";
}
.olotu-mail:before {
  content: "\ea83";
}
.olotu-mail2:before {
  content: "\ea84";
}
.olotu-mail3:before {
  content: "\ea85";
}
.olotu-mail4:before {
  content: "\ea86";
}
.olotu-amazon:before {
  content: "\ea87";
}
.olotu-google:before {
  content: "\ea88";
}
.olotu-google2:before {
  content: "\ea89";
}
.olotu-google3:before {
  content: "\ea8a";
}
.olotu-google-plus:before {
  content: "\ea8b";
}
.olotu-google-plus2:before {
  content: "\ea8c";
}
.olotu-google-plus3:before {
  content: "\ea8d";
}
.olotu-hangouts:before {
  content: "\ea8e";
}
.olotu-google-drive:before {
  content: "\ea8f";
}
.olotu-facebook:before {
  content: "\ea90";
}
.olotu-facebook2:before {
  content: "\ea91";
}
.olotu-instagram:before {
  content: "\ea92";
}
.olotu-whatsapp:before {
  content: "\ea93";
}
.olotu-spotify:before {
  content: "\ea94";
}
.olotu-telegram:before {
  content: "\ea95";
}
.olotu-twitter:before {
  content: "\ea96";
}
.olotu-vine:before {
  content: "\ea97";
}
.olotu-vk:before {
  content: "\ea98";
}
.olotu-renren:before {
  content: "\ea99";
}
.olotu-sina-weibo:before {
  content: "\ea9a";
}
.olotu-rss2:before {
  content: "\ea9b";
}
.olotu-rss22:before {
  content: "\ea9c";
}
.olotu-youtube:before {
  content: "\ea9d";
}
.olotu-youtube2:before {
  content: "\ea9e";
}
.olotu-twitch:before {
  content: "\ea9f";
}
.olotu-vimeo:before {
  content: "\eaa0";
}
.olotu-vimeo2:before {
  content: "\eaa1";
}
.olotu-lanyrd:before {
  content: "\eaa2";
}
.olotu-flickr:before {
  content: "\eaa3";
}
.olotu-flickr2:before {
  content: "\eaa4";
}
.olotu-flickr3:before {
  content: "\eaa5";
}
.olotu-flickr4:before {
  content: "\eaa6";
}
.olotu-dribbble:before {
  content: "\eaa7";
}
.olotu-behance:before {
  content: "\eaa8";
}
.olotu-behance2:before {
  content: "\eaa9";
}
.olotu-deviantart:before {
  content: "\eaaa";
}
.olotu-500px:before {
  content: "\eaab";
}
.olotu-steam:before {
  content: "\eaac";
}
.olotu-steam2:before {
  content: "\eaad";
}
.olotu-dropbox:before {
  content: "\eaae";
}
.olotu-onedrive:before {
  content: "\eaaf";
}
.olotu-github:before {
  content: "\eab0";
}
.olotu-npm:before {
  content: "\eab1";
}
.olotu-basecamp:before {
  content: "\eab2";
}
.olotu-trello:before {
  content: "\eab3";
}
.olotu-wordpress:before {
  content: "\eab4";
}
.olotu-joomla:before {
  content: "\eab5";
}
.olotu-ello:before {
  content: "\eab6";
}
.olotu-blogger:before {
  content: "\eab7";
}
.olotu-blogger2:before {
  content: "\eab8";
}
.olotu-tumblr:before {
  content: "\eab9";
}
.olotu-tumblr2:before {
  content: "\eaba";
}
.olotu-yahoo:before {
  content: "\eabb";
}
.olotu-yahoo2:before {
  content: "\eabc";
}
.olotu-tux:before {
  content: "\eabd";
}
.olotu-appleinc:before {
  content: "\eabe";
}
.olotu-finder:before {
  content: "\eabf";
}
.olotu-android:before {
  content: "\eac0";
}
.olotu-windows:before {
  content: "\eac1";
}
.olotu-windows8:before {
  content: "\eac2";
}
.olotu-soundcloud:before {
  content: "\eac3";
}
.olotu-soundcloud2:before {
  content: "\eac4";
}
.olotu-skype:before {
  content: "\eac5";
}
.olotu-reddit:before {
  content: "\eac6";
}
.olotu-hackernews:before {
  content: "\eac7";
}
.olotu-wikipedia:before {
  content: "\eac8";
}
.olotu-linkedin:before {
  content: "\eac9";
}
.olotu-linkedin2:before {
  content: "\eaca";
}
.olotu-lastfm:before {
  content: "\eacb";
}
.olotu-lastfm2:before {
  content: "\eacc";
}
.olotu-delicious:before {
  content: "\eacd";
}
.olotu-stumbleupon:before {
  content: "\eace";
}
.olotu-stumbleupon2:before {
  content: "\eacf";
}
.olotu-stackoverflow:before {
  content: "\ead0";
}
.olotu-pinterest:before {
  content: "\ead1";
}
.olotu-pinterest2:before {
  content: "\ead2";
}
.olotu-xing:before {
  content: "\ead3";
}
.olotu-xing2:before {
  content: "\ead4";
}
.olotu-flattr:before {
  content: "\ead5";
}
.olotu-foursquare:before {
  content: "\ead6";
}
.olotu-yelp:before {
  content: "\ead7";
}
.olotu-paypal:before {
  content: "\ead8";
}
.olotu-chrome:before {
  content: "\ead9";
}
.olotu-firefox:before {
  content: "\eada";
}
.olotu-IE:before {
  content: "\eadb";
}
.olotu-edge:before {
  content: "\eadc";
}
.olotu-safari:before {
  content: "\eadd";
}
.olotu-opera:before {
  content: "\eade";
}
.olotu-file-pdf:before {
  content: "\eadf";
}
.olotu-file-openoffice:before {
  content: "\eae0";
}
.olotu-file-word:before {
  content: "\eae1";
}
.olotu-file-excel:before {
  content: "\eae2";
}
.olotu-libreoffice:before {
  content: "\eae3";
}
.olotu-html-five:before {
  content: "\eae4";
}
.olotu-html-five2:before {
  content: "\eae5";
}
.olotu-css3:before {
  content: "\eae6";
}
.olotu-git:before {
  content: "\eae7";
}
.olotu-codepen:before {
  content: "\eae8";
}
.olotu-svg:before {
  content: "\eae9";
}
.olotu-IcoMoon:before {
  content: "\eaea";
}
